{% extends "base.twig" %}

{% block content %}
 <!-- Navbar -->
  {% include "navbar.twig" %}
  <!-- End Navbar -->
    <div style="padding-top: 200px;padding-left: 30px; padding-right: 30px;">
      <div class="row">
        <div class="col-xl-2 col-lg-12 mb-5">
              <h4 class="title">Filtra tus eventos</h4>
              <p class="category">Tipo de venta</p>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input id="is-sale-checkbox" class="form-check-input checkbox-filter-selector" type="checkbox" checked>
                  <span class="form-check-sign"></span>
                  Producto en venta
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input id="is-exchange-checkbox" class="form-check-input checkbox-filter-selector" type="checkbox" checked>
                  <span class="form-check-sign"></span>
                  Producto intercambiable
                </label>
              </div>

              <p class="category mt-5">TAGS</p>
              {% for tag in tags %}
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input tag-input checkbox-filter-selector checkbox-filter-tags" value="{{ tag }}" type="checkbox" >
                  <span class="form-check-sign"></span>
                  {{ tag }}
                </label>
              </div>
              {% endfor %}
            </div>
            
        <div class="col-md-10">
              <div class="row" id="filtered_events">
               
              </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="title">•TIGERASO•</h1>
                </div>
                <div class="col-md-4">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="./index.php" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="results.php" class="nav-link">
                                Resultados
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="title">Practica Tecnologia Multimedia</h4>
                    <h5 class="title">Universitat de les Illes Balears</h5>
                    <h5 class="title">Curso 2019-2020</h5>
                    <p class="description">©Adrian Castellanos y Michelle Vlad</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  

 </div>

 <!-- Filters made with AJAX -->
 <script>
$(document).ready(function(){
    filter_data();
    
    $('.checkbox-filter-selector').click(function(){
        filter_data();
    }); 

});


    function getSelectedTags(){
      var tags = [];
      $(".checkbox-filter-tags").each(function(){
        if($(this).is(":checked")){
          tags.push($(this).attr('value'));
        }
    });
    return tags;
    }

    function filter_data()
    {
        $.ajax({
            url:"results_filters.php",
            method:"POST",
            data: JSON.stringify({
              "isSale": $('#is-sale-checkbox').is(":checked") ? 1 : 0,
              "isExchange": $('#is-exchange-checkbox').is(":checked") ? 1 : 0,
              "selectedTags":  getSelectedTags(),
            }),
            success:function(data){
                $('#filtered_events').html(data);
            }
        });
    }
    $(document).ready(function() {
      blackKit.initDatePicker();
      blackKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
</script>
{% endblock %}